@model NLayerWebApiProject.WebUI.DTOs.ErrorDTO
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oooops!</h1>
<h2 class="text-danger">Bir hata oluştu</h2>

<h3>Hatalar</h3>
<ul>
    @foreach (var err in Model.Errors)
    {
        <li>@err</li>
    }
</ul>